<!DOCTYPE html>
<html>
	<head>
  {% set name = 'Bob' %}
		<title>{{ title }}</title>
	</head>
	<body>
		<h1>{{ message }}</h1>
		<p>Data from the server:
			<b>{{ data }}</b> from {{ name }} 1 times.
		</p>
	</body>
</html>
